[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "==1.4"
keras = "==2.1.2"
numpy = "*"
path = "*"
h5py = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.5"
