[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "~=2.4.1"
keras = "*"
numpy = "*"
path = "*"
h5py = "*"
pillow = "*"

[dev-packages]
black = "*"
flake8 = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
